In [98]:
import pandas as pd

df = pd.DataFrame({'r1':['ham','ver','bot'],'r2':['ver','ham','lec'],'r3':['ham','ver','bot'],'r4':['ham','ver','bot']})
df

    r1   r2   r3   r4
0  ham  ver  ham  ham
1  ver  ham  ver  ver
2  bot  lec  bot  bot

In [99]:
df.r1.count()

3

In [100]:
# write the dataframe to a csv
x = df.to_csv("d1.csv")

In [101]:
d2 = df.r2[df.r2.isin(['ham','lec'])]

In [102]:
d2

1    ham
2    lec
Name: r2, dtype: object

## Pass a list to the replace function

In [103]:
df.replace(['ham','ver','lec'],['Ham','Ver','Lec'],inplace=True)

In [104]:
df

    r1   r2   r3   r4
0  Ham  Ver  Ham  Ham
1  Ver  Ham  Ver  Ver
2  bot  Lec  bot  bot

## Manual Thresholding

In [105]:
dfv = pd.DataFrame({'a':[1,4,7],'b':[33,2,1]})

In [106]:
dfv

   a   b
0  1  33
1  4   2
2  7   1

In [110]:
dfv.loc[dfv.a >=1]=5

In [111]:
dfv

   a  b
0  5  5
1  5  5
2  5  5

In [109]:
# see also 'clip' it allows you to specify upper (or lower) limits eg clip(upper=100)