In [90]:
# Module Imports
import mariadb
import sys
import pandas as pd

### Read the data FROM a csv file

In [91]:
df = pd.read_csv(r'claims.csv')
df

   pat_num  claim    status
0   111222    123  accepted
1   111333    234  accepted
2   222444    432  rejected
3  3444555    431  rejected
4  4666777     65   accpted

In [92]:
# Connect to MariaDB Platform
try:
    conn = mariadb.connect(
        user="user3",
        password="redandgreen",
        host="192.168.1.9",
        port=3306,
        database="exampledb"

    )
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

# Get Cursor
cursor = conn.cursor()

In [93]:
#Create Table as long as it doesn't already exist

# cursor.execute(
# 'CREATE TABLE IF NOT EXISTS patients3 (
#     id INT AUTO_INCREMENT PRIMARY KEY, 
#     pat_num varchar(50), 
#     claim varchar(50), 
#     status varchar(50))'
# )

### Add the csv data to SQL

In [94]:
for row in df.itertuples():
    cursor.execute("""
                INSERT INTO patients3
                (pat_num, claim, status)
                VALUES 
                (%s,%s,%s)
                """,
                (row.pat_num, 
                row.claim,
                row.status,
                ))
conn.commit()

### Query the SQL database and print the Patient Numbers

In [95]:
cur = conn.cursor()
cur.execute(
    "SELECT pat_num FROM patients3"
)

In [96]:
# Print results selection from SQL query

for (pat_num) in cur:
    print(f"PatientNumber: {pat_num}")

PatientNumber: ('111222',)
PatientNumber: ('111333',)
PatientNumber: ('222444',)
PatientNumber: ('3444555',)
PatientNumber: ('4666777',)
PatientNumber: ('111222',)
PatientNumber: ('111333',)
PatientNumber: ('222444',)
PatientNumber: ('3444555',)
PatientNumber: ('4666777',)
PatientNumber: ('111222',)
PatientNumber: ('111333',)
PatientNumber: ('222444',)
PatientNumber: ('3444555',)
PatientNumber: ('4666777',)
PatientNumber: ('111222',)
PatientNumber: ('111333',)
PatientNumber: ('222444',)
PatientNumber: ('3444555',)
PatientNumber: ('4666777',)
PatientNumber: ('111222',)
PatientNumber: ('111333',)
PatientNumber: ('222444',)
PatientNumber: ('3444555',)
PatientNumber: ('4666777',)
PatientNumber: ('111222',)
PatientNumber: ('111333',)
PatientNumber: ('222444',)
PatientNumber: ('3444555',)
PatientNumber: ('4666777',)

### Print results selection from PANDAS (with it's SQL query)

In [97]:
# Create SQL query for Pandas to run
sql = """

SELECT *
FROM patients3

"""
df = pd.read_sql(sql, conn)
df.head()

   id  pat_num claim    status
0   1   111222   123  accepted
1   2   111333   234  accepted
2   3   222444   432  rejected
3   4  3444555   431  rejected
4   5  4666777    65   accpted