In [42]:
# Module Imports
import mariadb
import sys
import pandas as pd

df = pd.read_csv(r'claims.csv')
df

   pat_num  claim    status
0   111222    123  accepted
1   111333    234  accepted
2   222444    432  rejected
3  3444555    431  rejected
4  4666777     65   accpted

In [43]:
# Connect to MariaDB Platform
try:
    conn = mariadb.connect(
        user="user3",
        password="redandgreen",
        host="192.168.1.9",
        port=3306,
        database="exampledb"

    )
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

# Get Cursor
cursor = conn.cursor()

In [44]:
#Create Table as long as it doesn't already exist

cursor.execute(
'CREATE TABLE IF NOT EXISTS patients3 (
    id INT AUTO_INCREMENT PRIMARY KEY, 
    pat_num varchar(50), 
    claim varchar(50), 
    status varchar(50))'
)

In [45]:
for row in df.itertuples():
    cursor.execute("""
                INSERT INTO patients3
                (pat_num, claim, status)
                VALUES 
                (%s,%s,%s)
                """,
                (row.pat_num, 
                row.claim,
                row.status,
                ))
conn.commit()